@import '../../../vars.css';

.container {
  flex: 2;
}

.inputWrapper {
  border: 1px solid var(--border-ash);
  width: 25rem;
  height: 2.6rem;
  display: flex;
  border-radius: 6px;
  padding-right: 0.5rem;
  margin-left: -17rem;
}

.inputWrapper:hover {
  border: 1px solid var(--grey);
}

.input {
  font-size: 1rem;
  padding-left: 0.7rem;
  color: var(--grey);
  border: none;
  flex: 12;
  border-radius: 6px;
}

.input:focus {
  outline: none;
}

.icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  font-size: 2rem;
  font-weight: 100;
}